name: CI
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://npm.pkg.github.com/"
          scope: "@loilo-inc"
      - run: npm ci
      - run: npm run build
      - uses: ./.github/actions/release
        with:
          version: ${{ github.ref_name }}
