name: Release
on:
  workflow_dispatch: {}
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://npm.pkg.github.com/"
          scope: "@loilo-inc"
      - run: npm ci
      - uses: changesets/action@v1
        id: release
        with:
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Dispatch downstream action releases
        if: ${{ success() }}
        uses: ./.github/actions/dispatch-downstream
        with:
          dispatch-token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          published-packages: ${{ steps.release.outputs.publishedPackages }}
